name: Build "Turnip" A9

on:
  workflow_dispatch:
#  schedule:
#  - cron: "20 5 1,15 * *"

jobs:
  start_building_turnip:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Prepare environment
      run: |
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt update
        sudo apt build-dep mesa -y
        sudo apt install meson-1.5 
    
    - name: Execute_build_script
      run: |
           bash ./turnip_builder_a9.sh
           echo "VERSION=$(cat $GITHUB_WORKSPACE/turnip_workdir/mesa-main/VERSION)" >> $GITHUB_ENV
           echo "DATE=$(date +'%d%m%Y')" >> $GITHUB_ENV
      continue-on-error: true
           
    - name: Upload Logs
      uses: actions/upload-artifact@v4
      with:
        name: Upload meson and ninja logs for debugging
        path: |
          turnip_workdir/ninja_log
          turnip_workdir/mesa-main/build-android-aarch64/meson-logs/meson-log.txt
          
    - name: Fail if build failed
      if: steps.Exexute_build_script.outcome == 'failure'
      run: |
            echo "Build failed. Logs were uploaded."
            exit 1
  #  - name: Upload a Build Artifact
   #   uses: actions/upload-artifact@v4
   #   with:
     #   name : Turnip-Magisk-${{ env.VERSION }}-${{github.run_number}}
      #  path : turnip_workdir/turnip_module
    - name: Upload AdrenoTools driver
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name : Turnip-AdrenoTools-${{ env.VERSION }}-${{ env.DATE }}
        path : |
           turnip_workdir/vulkan.freedreno.so
           turnip_workdir/meta.json
           
 #   - name: Release "turnip"
  #    uses: softprops/action-gh-release@v1
   #   with:
    #    body: Turnip magisk module and driver package for adrenotools
    #    tag_name: github_run
     #   name: Weekly Action Release
      #  files: |
       #    turnip_workdir/turnip.zip
       #    turnip_workdir/turnip_adrenotools.zip    
       
