name: Build "Turnip" A9

on:
  workflow_dispatch:
#  schedule:
#  - cron: "20 5 1,15 * *"

jobs:
  start_building_turnip:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Prepare environment
      run: |
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt update
        sudo apt build-dep mesa -y
        sudo apt install meson-1.5 
    
    - name: Execute build script
      run: |
           bash ./turnip_builder_a9.sh
           echo "VERSION=$(cat $GITHUB_WORKSPACE/turnip_workdir/mesa-main/VERSION)" >> $GITHUB_ENV
           echo "DATE=$(date +'%d%m%Y')" >> $GITHUB_ENV
           
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Upload meson and ninja logs for debugging
        path: |
          turnip_workdir/ninja_log_msm
          turnip_workdir/ninja_log_kgsl
          turnip_workdir/meson_log_msm
          turnip_workdir/meson_log_kgsl
  #  - name: Upload a Build Artifact
   #   uses: actions/upload-artifact@v4
   #   with:
     #   name : Turnip-Magisk-${{ env.VERSION }}-${{github.run_number}}
      #  path : turnip_workdir/turnip_module
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name : Turnip-AdrenoTools-msm-${{ env.VERSION }}-${{ env.DATE }}
        path : |
           turnip_workdir/msm/vulkan.freedreno.so
           turnip_workdir/msm/meta.json

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name : Turnip-AdrenoTools-kgsl-${{ env.VERSION }}-${{ env.DATE }}
        path : |
           turnip_workdir/kgsl/vulkan.freedreno.so
           turnip_workdir/kgsl/meta.json
           
 #   - name: Release "turnip"
  #    uses: softprops/action-gh-release@v1
   #   with:
    #    body: Turnip magisk module and driver package for adrenotools
    #    tag_name: github_run
     #   name: Weekly Action Release
      #  files: |
       #    turnip_workdir/turnip.zip
       #    turnip_workdir/turnip_adrenotools.zip    
       
